@import "tailwindcss";

@theme {
  --color-canvas: #FDFDFD;
  --color-primary: #0A0A0A;
  --color-accent-subtle: #E5E5E5;
  --color-accent-alert: #D93F3F;

  --font-display: var(--font-display), serif;
  --font-utility: var(--font-inter), sans-serif;
}

:root {
  --background: var(--color-canvas);
  --foreground: var(--color-primary);
}

/* Force light mode for luxury aesthetic */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-utility);
}

/* Lenis Scroll fix */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
